<div class="page-header">
    <h1>Market <small> Show All </small></h1>
</div>
<div> 
 <p>
    <table id="res"> 
        <thead>
            <tr> 
                <th> Item </th>
                <th> Sell Price </th>
                <th> Buy Price </th>
                <th> Profit </th>
            </tr>
        </thead>
        <tbody>
            <% stats.forEach(function(stat) { %>
                    <tr>
                        <td> <a href="CCPEVE.showMarketDetails(<%= stat["typeID"] %>)"> <%= stat["item_name"] %> </a> </td>
                        <td> <%= stat["lowest_sell"] %> </td>
                        <td> <%= stat["highest_buy"] %> </td>
                        <td> <%= stat["profit"] %> </td>
                    </tr>
            <% }); %>
        <tbody>
    </table>
 </p>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>
<script type="text/javascript" src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"> </script>
<script type="text/javascript">
    $(function(){
        $("#res").tablesorter();
    });
</script>