<div class="page-header">
    <h1>Market <small> All </small></h1>
</div>
<div> 
 <p>
    <table class="condensed"> 
        <thead>
            <tr> 
                <th>price</th>           
                <th>volRemaining</th>    
                <th>typeID</th>          
                <th>range</th>           
                <th>orderID</th>  
                <th>bid</th>
                <th>stationID</th>
                <th>solarSystemID</th>
                <th>jumps</th>      
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(function(order) { %>
                    <tr>
                        <td> <%= order["price"] %> </td>
                        <td> <%= order["volRemaining"] %> </td>
                        <td> <%= order["typeID"] %> </td>
                        <td> <%= order["range"] %> </td>
                        <td> <%= order["orderID"] %> </td> <td> <%= order["bid"] %> </td>
                        <td> <%= order["stationID"] %> </td>
                        <td> <%= order["solarSystemID"] %> </td>
                        <td> <%= order["jumps"] %> </td>   
                    </tr>
            <% }); %>
        <tbody>
    </table>
 </p>
</div>
