
            <div class="page-header">
              <h1>Market <small> OrderID (<%= order.orderID %>)</small></h1>
            </div>
            <div class="row">
              <div class="span10">
                <h2>Known Orders</h2>
                    <ul>
                        <li> Name: <%= name %> </li>
                        <li> TypeID: <%= order.typeID %> </li>
                        <li> Price: <%= order.price %> </li>
                        <li> Region: <%= order.regionID %> </li>
                        <li> Type: <% if(order.bid) { %> 
                                        Buy Order
                                   <% } else { %> 
                                        Sell Order
                                   <% } %> </li>
                    </ul>
              </div>
              <div class="span4">
                <h3>Last Updated At: </h3>
                <%= date %>
              </div>
            